certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.6
jellyfish==1.0.3
paho-mqtt==1.6.1
PyAudio==0.2.14
pycparser==2.21
requests==2.31.0
srt==3.5.3
tqdm==4.66.1
urllib3==2.1.0
vosk==0.3.45
websockets==12.0
